<div class="container">
  <p id="notice"><%= notice %></p>
<br />
  <h3>Your Teams</h3>
  <table class="table table-hover">

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= link_to 'Team Page', team %></td>
          <td><%= link_to 'Pending Challenges', request_teams_path(team) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
