<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Your Teams</h1>
  <hr />
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= link_to 'Team Page', team %></td>
          <td><%= link_to 'Pending Challenges', request_teams_path(team) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
