<div class="authform">
  <%= alert %>
  <h3 style="text-align: center"> Join Team </h3>
  <%= form_tag join_teams_path, method: 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control' %>
    </p>
    <%= submit_tag "Join Team", class: 'btn btn-default', style: 'margin-left: 80px' %>
  <% end %>
</div>
