<!-- TODO: Style -->

<div class="container">
  <h3>
    <strong>TEAM:</strong>
    <%= @team.name %><hr />
  </h3>

  <h3> <strong> CHALLENGES </strong></h3>
  <% @challenges.each_with_index do |challenge, index| %>
    <p>
      <%= link_to "#{index+1}: #{challenge.name}", challenge_path(challenge) %>
    </p>
  <% end %>

</div>
