<!-- Team Tracker -->
<% @team.users.each do |user| %>
  <tr>
     <td>
       <%= user.full_name %>
     </td>
     <td>
       <%= "#{user.challenge_actions.find_by_challenge_id(@challenge).try(:total_streak) || 0}" %>
     </td>
   </tr>
 <% end %>
