$primary-color-dark:   #0097A7;
$primary-color:        #00BCD4;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome';

.navbar-brand {
  font-size: inherit;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
}

section {
  @extend .row;
  margin-top: 20px;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}

.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}

.authform .right {
  float: right !important;
}

.authform .button {
  @extend .btn;
  @extend .btn-primary;
}

.authform fieldset {
  @extend .well;
}

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 16px;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.nav > li > a:hover {
  color: #FFF;
}

.navbar-fixed-top {
  background-color: #FFF;
  border-bottom: none;
}
