// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.challenge-info > h1 {
  font-size: 2em;
}

.table-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.challenge-info {
}
