// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-challenges {
  margin-top: 20px;
  margin-left: 20px;
}

.table-stats {
  width: 50%;
}

canvas {
}

.table-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.flex-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.challenge-info {
  margin-left: 25px;
}
