li > a:hover {
  opacity: 0.5;
  background-color: transparent !important;
}

li > a:focus {
  background-color: transparent !important;
}

.sr-only, .icon-bar {
  background-color: white;
}

btn-primary > a:visited {
  color: #fff;
}
