.container {
  margin-left: 20px;
}

.checkbox {
  display: inline;
  margin-left: 15px;
  input[type="checkbox"] {
    display: none;
    // How do we merge this with the fa-icon?
  }
}

.fa-check-circle {
  color: green;
}

#avg-score {
  float: left;
}

#lead-player {
  float: right;
}
